* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: black;
}

header, main, footer {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: 2px dashed #D3573C;
}

ul, ol {
  list-style: none;
}

button {
  border-style: none;
  background-color: transparent;
}

.btn-contact {
  width: 170px;
  height: 70px;
  padding: 11px;
  padding: 11px;
  border-radius: 5px;
  font-size: 1.125em;
  font-weight: normal;
  color: white;
  cursor: pointer;
}

.btn-icon {
  padding: 20px;
  color: #901C1C;
  font-size: 2em;
  cursor: pointer;
}
.btn-icon:hover {
  color: #D3573C;
}

.btn-like {
  padding: 10px;
  cursor: pointer;
  color: #901C1C;
}
.btn-like:hover {
  color: #D3573C;
}

/* --------- CARD ---------*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.card__header img {
  height: 200px;
  width: 200px;
}
.card__header:hover img {
  box-shadow: 0 0 10px #525252;
}
.card__header h2 {
  margin-top: 10px;
  color: #D3573C;
  font-size: 2em;
  font-weight: normal;
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8em;
}
.card__body span {
  display: block;
}
.card__location {
  color: #901C1C;
}
.card__price {
  color: #525252;
}

.card-media {
  color: #901C1C;
  width: 350px;
  height: 350px;
}
.card-media img, .card-media video {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  display: block;
  transition: transform 350ms;
}
.card-media img:hover, .card-media video:hover {
  cursor: pointer;
  transform: scale(1.03, 1.03);
}
.card-media h2 {
  font-weight: normal;
  font-size: 1.125em;
}
.card-media__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-rounded {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  align-items: center;
  background-color: #D3573C;
  color: black;
  display: none;
  height: auto;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  z-index: 2;
}
.modal__content {
  padding: 50px;
}
.modal__content header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #901C1C;
  text-align: center;
}
.slide__media {
  width: 80%;
  height: 80%;
}
.slide__video, .slide__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slide__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.slide__next {
  position: absolute;
  top: 50%;
  right: 10px;
}
.slide__prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.form {
  font-size: 1.125em;
}
.form form, .form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form input, .form textarea {
  font-size: 1.125em;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 100px;
}
.header__logo {
  height: 50px;
}
.header h1 {
  font-size: 2em;
  font-weight: normal;
  color: #901C1C;
}

.home {
  margin-bottom: 50px;
}

.page {
  margin: 0 100px;
}
.page__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-color: #FAFAFA;
}
.page__heading h1 {
  color: #D3573C;
  font-size: 2.5em;
  font-weight: normal;
}
.page__heading p:nth-child(2) {
  color: #901C1C;
  font-size: 1.5em;
}
.page__portrait {
  height: 200px;
  width: 200px;
}
.page__gallery {
  margin: 80px auto;
}/*# sourceMappingURL=main.css.map */