/* --------- HEADER ---------*/ 
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:25px;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 3em;
    font-weight:normal;
}

.photograph-heading {
    display: flex;
    flex-direction:column;
    gap:10px;
}

.photograph-heading p:nth-child(2) {
    color: #901C1C;
    font-size: 1.2em;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* --------- FILTER ---------*/ 


/* --------- GALLERY ---------*/ 
.photograph-gallery {
    padding:20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.card-img img {
    flex:1;
}


.img-squared {
    height:200px;
    width:100%;
    border-radius:3px;
    object-fit: cover;
}