.contact {

    &__wrapper {
       display: grid;
       align-items: center;
       width:100%;
       height:100%;
    }

    &__content {
        box-shadow:0px 0px 30px rgb(0,0,0,0.4);
        width: 500px;
        margin: auto;
        background-color: $color-secondary-light;
        padding: 30px;
        border-radius: 5px;
    }

    &__header{ 
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 15px;

            h2 {
                font-size: $font-hero;
                font-style: normal;
            }
    }

    &__form {

        form,
        div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            font-size: $font-xl;
            color: $color-grey-dark;
        }

        input,
        textarea {
            color: $color-grey-dark;
            font-size: $font-m;
            margin: 0;
            padding: 8px;
            border: 0;
            border-radius: 5px;
            width: 100%;
            display: block;
        }
    }

    &__message {
        margin:5px 0;
    }
}