.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:100px;
    
    &__logo { 
        height: 50px;
    }

    h1 {
        font-size: $font-xxl;
        font-weight: normal;
        color: $color-primary;
    }
}
