.photographer-header {
    height: 300px;

    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;

    background-color: $color-grey-light;

    &__text {
        h1 {
            color: $color-secondary;
            font-size: $font-hero;
            font-weight: normal;
        }

        p:nth-child(2) {
            color: $color-primary;
            font-size: $font-xl;
        }

        p {
            color: $color-grey;
        }
    }

    &__portrait {
        height: 200px;
        width: 200px;
    }
}