.sort {
    display: flex;
    column-gap: 50px;
    margin-top: 50px;
    position: relative;

    &__container {
        position: relative;
        width: 180px;
        border-radius: 5px;
        background-color: $color-primary;
        color: white;
        padding: 0 5px;
    }

    &__select {
        display: flex;
        flex-direction: column;

        button {
            text-align: left;
            display: block;
            padding: 20px;
            color: white;
            font-size: $font-m;

            &:hover,
            &:focus {
                color: black;
                background-color: $color-secondary;
            }
        }
    }

        &__select__footer {
            button {
                width: 100%;
                display: block;
                border-top: 1px solid white;
            }
        }

        &__btn {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: white;
            padding: 10px;
            z-index: 1;
            font-size: $font-l;

            &:hover {
                color: black;
            }
        }

        p {
            font-weight: bold;
        }
    }