.btn-contact {
    width: 170px;
    height: 70px;
    padding: 11px;
    background-color: $color-primary;
    border-radius: 5px;
    font-size: $font-l;
    font-weight: normal;
    color: white;
    cursor: pointer;
}

.btn-slide {
    padding: 20px;
    color: $color-primary;
    font-size: $font-xxl;
    cursor: pointer;

    &:hover {
        color: $color-secondary;
    }
}