.btn {
    width:150px;
    padding:20px;
    font-size: $font-m;
    color: white;
    background-color: $color-primary;
    border-radius: 5px;

    &:hover, &:focus {
        background-color: $color-secondary;
        color:black;
    }
}


.btn-submit {
    margin-top:10px;
}

// .btn-contact {
//     border-radius: 5px;
//     padding:15px 10px;
//     font-size: $font-m;
//     color: white;
//     background-color: $color-primary;
//     cursor: pointer;

//     &:hover, &:focus {
//         background-color: $color-secondary;
//         color:black;
//     }
// }


.btn-icon {
    padding: 20px;
    color: $color-primary;
    font-size: $font-xxl;

    &:hover, &:focus {
        color: $color-secondary;
    }
}

.btn-close-contact {
    padding: 0;
    color: white;
    font-size: $font-hero;

    &:hover, &:focus {
        color: $color-secondary;
    }
}

.btn-likes {
    //padding: 10px;
    color: $color-primary;

    &:hover {
        color: $color-secondary;
    }
}