.photographer-card {
    text-align: center;
    font-size: $font-m;
    // outline:1px solid red;

    &__header {

        img {
            height: 200px;
            width: 200px;
        }
        
        &:hover img {
            box-shadow:0 0 10px $color-grey;
        }

        h2 {
            margin-top:10px;
            color: $color-secondary;
            font-size: $font-xxl;
            font-weight:normal;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span {
            display:block;
        }
    }

    &__location {
        color: $color-primary;
    }
    
    &__price {
        color: $color-grey;
    }
}