// Colors
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-secondary-light: #d38674;

$color-grey: #525252;
$color-grey-dark: #3d3d3d;

$color-grey-light: #FAFAFA;

.white {
    color:white;
}