$color-1: #9356DC;
$color-2: #FF79DA;
$color-3: #99E2D0;
$color-grey-1:#f1eded;
$color-grey-2:#f6f6f6;
$color-grey-3:#393939;
$color-grey-4:#807d7d;

$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 20px;
$font-xl: 22px;
$font-xxl: 28px;
