// Colors
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-grey: #525252;
$color-grey-light: #FAFAFA;

// Font
$font-family: "DM Sans";
$font-size: 16px;

// em shortcuts
$font-xs: 0.625em;
$font-s: 0.8em;
$font-m: 1em;
$font-l: 1.125em;
$font-xl: 1.5em;
$font-xxl: 2em;
$font-hero: 2.5em;